<html>
    <head>
        <title>
            Wazuhl Dashboard
        </title>
    </head>
    <body>
        <table  cellpadding="10"cellspacing="30">
            <tr>
                <td>
                    <h2><center> Average Q </center></h2>
                    <img src="static/mean_q_plot.svg">
                </td>
                <td>
                    <h2><center> Average reward </center></h2>
                    <img src="static/mean_reward_plot.svg">
                </td>
            </tr>
 
            <tr>
                <td>
                    <h2><center> Loss </center></h2>
                    <img src="static/learning_rate_plot.svg">
                </td>
                <td>
                    <h2><center> Wall time </center></h2>
                    <img src="static/baselines.svg">
                </td>
            </tr>
       </table>
    </body>
</html>
